extends layout

block content
  div.row.row-offcanvas.row-offcanvas-right

    div.col-xs-12.col-sm-9

      div.jumbotron.white
        h1 #{now.getPropertyValue('SUMMARY')}
        span(class='glyphicon glyphicon-time')
        h2 #{moment(now.getPropertyValue('DTSTART')).format('hh:mm')} - #{moment(now.getPropertyValue('DTEND')).format('hh:mm')}

    div.col-xs-6.col-sm-3.sidebar-offcanvas.pull-right
      h3 #{resource.name}
      span.glyphicon.glyphicon-calendar
      span #{moment().format('dd/MM/YYYY')}

  div.dark.container
    h3 Next
    h4 #{next.getPropertyValue('SUMMARY')}
    h5 #{moment(next.getPropertyValue('DTSTART')).format('hh:mm')} - #{moment(next.getPropertyValue('DTEND')).format('hh:mm')}